@charset "utf-8";
#Banner {    /*This div tag is holding thw the properties for the banner on every page*/
    background-color: #000000; /*This shows the colour of black*/
    height: 300px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

#Navigation {  /*This div tag is holding the properties for the navigation bar on every page*/
    background-color: #000000; /*This shows the colour of black*/
    height: 300px;
    height: 100px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

#Container {  /*This div tag is holding the properties for the container on every page. The container is where all the main elements of the websites are stored*/
    background-color: #000000;  /*This shows the colour of black*/
    height: 300px;
    height: 600px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

#Footer {  /*This div tag is holding the properties for the footer on every page. This has the social media links within them on each page*/
    background-color: #000000;  /*This shows the colour of black*/
    height: 300px;
    height: 200px;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

body {  /*This div tag is holding the properties for the body on every page*/
    height: 300px;
    margin: 0;
    font-family: Verdana; /*This makes the font of the text within the body; Verdana, within every page*/
    background-color: #000000;

}
#TextHeader { /*This div tag is holding the properties for the main header on every page*/
	background-color: #000000; /*This shows the colour of black*/
    height: 65px;
    width: 440px;
	margin-left: 5px;
	margin-bottom: 5px;
	padding-bottom: 10px;
	float: left;
}

#TextBox {    /*This div tag is holding the properties for the main header on every page*/
	background-color: #000000; /*This shows the colour of black*/
    height: 395px;
    width: 440px;
	margin-left: 5px;
	float: left;
	}
	

.topnav {  /*This div tag is holding the interactive properties for the navigation bar on every page*/
  overflow: hidden;
  background-color: #000000;  /*This shows the colour of black*/
  margin-left: x;
}

.topnav a {  /*This div tag is holding the properties for the text within the navigation bar on every page*/
  float: left;
  color: #f2f2f2; /*This shows the colour of white*/
  text-align: center;
  padding: 16.5px;
  text-decoration: none;
  font-size: 19px;
}

.topnav a:hover { /*This div tag is holding the interactive properties when a button on the navigation bar is being hovered over on every page*/
  background-color: #ddd; /*This shows the colour of white*/
  color: black;
}

.topnav a.active { /*This div tag is holding the interactive properties when a button on the navigation bar is active on every page*/
  background-color: #454243; /*This shows the colour of grey*/
  color: white;
}


h1   /*This div tag is holding the properties for the headings in every page*/

{
    font-family: "Verdana";
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;  /*This shows the colour of white*/
    text-align: center;

}

p1  /*This div tag is holding the properties for the paragraphs in every page*/

{

font-family: "Verdana";

font-size: 16px;

color: #FFFFFF;   /*This shows the colour of white*/

}


#rolloverInstagram { /*This div tag is holding the properties for the instagram link on every page so they they look aligned correctly*/
		
		margin-left: 35px;  /*This applies a margin of 35 pixels to the left*/
	}
